<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Main page</title>
    <script src="/js/home/quest.js" defer></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include ('../layouts/header') %>

    <div class="container input-group mb-2 Likethings-containers">
      <div class="container Likethings-items">
        <h4>당신에게 맞는 숙소를 정해봅시다!</h4>
        <form class="list-group Likethings-items-list">
          <label>=== 1. 같이 가는 사람은 몇 명인가요? ===</label>
          <input
            type="number"
            class="list-group-item Likethings-items-quests"
            name="stayNum"
            id="stayNum"
            value="0"
          />
          <label>=== 2. 미취학아동(만6~12세)이 동반하는 일정인가요? ===</label>
          <select
            name="quest-child"
            class="list-group-item Likethings-items-quests"
          >
            <option value="네" name="네" id="childYes">네</option>
            <option value="아니오" name="아니오" id="childNo">아니오</option>
          </select>
          <label> === 3. 어르신(만 65세이상)이 동반하는 일정인가요? ===</label>
          <select
            name="quest-senior"
            class="list-group-item Likethings-items-quests"
          >
            <option value="네" name="네" id="seniorYes">네</option>
            <option value="아니오" name="아니오" id="seniorNo">아니오</option>
          </select>
          <label> === 4. 침대는 어떤 것을 선호하나요? ===</label>
          <select
            name="quest-senior"
            class="list-group-item Likethings-items-quests"
          >
            <option value="싱글" name="싱글" id="bedSingle">싱글</option>
            <option value="더블" name="더블" id="bedDouble">더블</option>
            <option value="트윈" name="트윈" id="bedTwin">트윈</option>
          </select>
          <label>
            === 5. 1인당 숙소 비용의 최소 한도 금액은 얼마인가요? ===</label
          >
          <label> (대략적인 값을 입력해주세요 *기준 : 원(₩))</label>
          <input
            type="number"
            class="list-group-item Likethings-items-quests"
            name="stayCost"
            id="stayCost"
            value="50000"
          />
          <label
            >=== 6. 숙소에 머물 때 가장 우선 순위에 두는 것은 무엇인가요?
            ===</label
          >
          <select class="list-group-item Likethings-items-quests">
            <option
              value="근처 편의시설 여부"
              name="근처 편의시설 여부"
              id="mostFac"
            >
              근처 편의시설 여부
            </option>
            <option
              value="좋은 경치와 전망"
              name="좋은 경치와 전망"
              id="mostView"
            >
              좋은 경치와 전망
            </option>
            <option
              value="다중이용시설 여부"
              name="다중이용시설 여부"
              id="mostMulti"
            >
              다중이용시설 여부
            </option>
          </select>
          <button class="btn btn-outline-secondary" id="questBtn">
            submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
